@use "../../assets/styles/variables" as v;
@use "../../assets/styles/mixins" as m;

.dropDown {
    display: flex;
    flex-direction: column;
    width: clamp(335px, 100%, 1023px);

    .dropDown_top {
        @include m.flex-center;
        justify-content: space-between;
        padding: 0 10px;
        height: 52px;
        border-radius: 10px;
        background-color: v.$primary-color;
        z-index: 10;

        span {
            color: v.$secondary-color;
            text-align: center;
        }

        img {
            cursor: pointer;
            transition: transform 0.4s linear;
        }

        @include m.responsive(mobile) {
            height: 30px;
            font-size: 13px;
        }
    }

    // Conteneur de l'animation d'expansion/repli
    .wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.4s linear;

        // Modifier pour l'état ouvert
        &.is_open {
            grid-template-rows: 1fr;
        }
    }

    // Pour masquer le débordement lors de l'animation
    .inner {
        overflow: hidden;

        p,
        ul {
            padding-left: 15px;
            padding-top: 15px;
            max-width: calc(100% - 15px);
        }
    }

    .rotated {
        transform: rotate(180deg);
    }

    @include m.responsive(mobile) {
        width: 100%;
    }
}