@use "../../assets/styles/variables" as v;
@use "../../assets/styles/mixins" as m;

.tag {
    @include m.flex-center;
    max-width: auto;
    min-width: 115px;
    padding: 0 10px;
    height: 25px;
    background-color: v.$primary-color ;
    color: v.$secondary-color ;
    border-radius: 10px;
    font-weight: 700;
    font-size: clamp(10px, 0.97vw, 14px);

    span {
        @include m.flex-center;
        flex-direction: row;
        text-align: center;
    }

    @include m.responsive(mobile) {
        border-radius: 5px;
        min-width: 84px;
        height: 18px;
    }
}