@use "../../assets/styles/variables" as v;
@use "../../assets/styles/mixins" as m;

.tag {
    @include m.flex-center;
    width: 7.99vw;
    height: 1.74vw;
    background-color: v.$primary-color ;
    color: v.$secondary-color ;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;

    @include m.responsive(mobile) {
        width: 22.4vw;
        height: 4.8vw;
    }
}