@use "../../assets/styles/variables" as v;
@use "../../assets/styles/mixins" as m;

.tag {
    @include m.flex-center;
    width: clamp(115px, 7.99vw, 204px);
    height: clamp(25px, 1.74vw, 44px);
    background-color: v.$primary-color ;
    color: v.$secondary-color ;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;

    @include m.responsive(mobile) {
        width: 22.4vw;
        height: 4.8vw;
    }
}