@use "../../assets/styles/mixins" as m;

.about_container {
    @include m.flex-center;
    flex-direction: column;
    gap: 38px;

    .dropDowns {
        @include m.flex-center;
        flex-direction: column;
        width: clamp(600px, 71.04vw, 2724px);
        gap: 30px;

        @include m.responsive(mobile) {
            width: 100%;
        }
    }
}