@use "../../assets/styles/mixins" as m;

.card_container {
    @include m.flex-center;
    margin: auto;
    margin-top: 50px;

    .grid {
        display: grid;
        margin: auto;
        padding: 1.39vw;
        grid-template-columns: repeat(3, 1fr);
        gap: clamp(29px, 3.82vw, 55px);

        @include m.responsive(mobile) {
            display: flex;
            flex-direction: column;
            gap: 5.87vw;
        }
    }

}