@use "../../assets/styles/mixins" as m;
@use "../../assets/styles/variables" as v;

.notFound {
    @include m.flex-center;
    flex-direction: column;
    gap: 139px;
    padding: 0;
    max-width: 100%;
    text-align: center;

    span {
        color: v.$primary-color;
        font-weight: 700;
        font-size: clamp(96px, 20vw, 288px);
    }

    p {
        font-size: clamp(18px, 2.5vw, 36px);

    }

    .link_to {
        font-size: clamp(14px, 1.25vw, 18px);
    }

    @include m.responsive(mobile) {
        margin-top: 113px;
        gap: 113px;
    }
}