@use "../../assets/styles/variables" as v;
@use "../../assets/styles/mixins" as m;

.lodging_card {

    h2 {
        color: v.$primary-color ;
        font-weight: 500;
        font-size: 36px;
    }

    p {
        font-weight: 500;
        font-size: 18px;
    }

    .tags {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}