@use "../../assets/styles/variables" as v;

.lodging_card {

    h2 {
        color: v.$primary-color ;
        font-weight: 500;
        font-size: 36px;
    }

    p {
        font-weight: 500;
        font-size: 18px;
    }
}